<h2>Posts</h2>
<app-posts *ngFor="let post of Posts; let i=index" [title]="post.title" [content]="post.content" [index]="i" [id]="post.id"></app-posts>

<div class="biggerContainer">
    <button class ="btn btn-success" (click)="changeTitle()">Changer tous les titres</button>
</div>
<div class="biggerContainer">
    <button class ="btn btn-success" (click)="changeContent()">Changer tous les contenus</button>
</div>
<div class="biggerContainer">
    <button class="btn btn-primary" (click)="onSave()">Enregistrer les posts</button>
</div>
<div class="biggerContainer">
    <button class="btn btn-primary" (click)="onFetch()">Récupérer les posts</button>
</div>
