<h2>Posts</h2>
<app-posts *ngFor="let post of Posts; let i=index" [title]="post.title" [content]="post.content" [index]="i"></app-posts>
<ul class="list-group-item">
    <h4>Poster un nouveau message :</h4>
        <div class="biggerContainer">
            <h6>Entrez un titre :</h6><div class="container"><input type="text" [(ngModel)]="nouveauTitre"></div>
            <h6>Contenu du message :</h6><div class="container"><input type="text" [(ngModel)]="nouveauMessage"></div>
            <div class="biggerContainer"><button type="submit" (click)="envoiMessage()">Soumettre</button></div>
        </div>
</ul>
<div class="biggerContainer">
    <button class ="btn btn-success" (click)="changeTitle()">Changer tous les titres</button>
</div>
<div class="biggerContainer">
    <button class ="btn btn-success" (click)="changeContent()">Changer tous les contenus</button>
</div>
