<div class="container">
  <div [ngClass]="{'list-group-item' : true, 'list-group-item-success' : nombreLike > 0, 'list-group-item-danger' : nombreLike < 0}">
    <div class="date">{{ dateCreation | date : 'short' }}</div>
    <div *ngIf="modified === true" class="modifDate">Lastly modified at {{ modifDate | date : 'short' }}</div>
    <h4>{{ title }}</h4>
    <div>{{ content }}</div>
    <div class="button">
      <button class="btn btn-success" (click)="nbLikeMore()">Like</button>
    </div>
    <div class="button">
      <button class="btn btn-danger" (click)="nbLikeLess()">Dislike</button>
    </div>
    <h6>Modifier le contenu du message : </h6>
    <input type="text" [(ngModel)]="nouveauContenuOne">
    <button type="submit" (click)="changeContentOne()">Modifier le contenu</button>
    <h6>Modifier le titre du message :</h6>
    <input type="text" [(ngModel)]="nouveauTitleOne">
    <button type="submit" (click)="changeTitleOne()">Modifier le titre</button>
    <div [ngStyle]="{'color' : getColor()}">Nombre de Likes : {{ nombreLike }}</div>
    <a [routerLink]="[id]">Détails</a>
  </div>
</div>
