<div class="container">
  <div [ngClass]="{'list-group-item' : true, 'list-group-item-success' : nombreLike > 0, 'list-group-item-danger' : nombreLike < 0}">
    <div class="date">{{ dateCreation | date : 'short' }}</div>
    <h4>{{ title }}</h4>
    <div>{{ content }}</div>
    <div class="button" (click)="nbLikeMore()"><button class="btn btn-success">Like</button></div>
    <div class="button" (click)="nbLikeLess()"><button class="btn btn-danger">Dislike</button></div>
    <div [ngStyle]="{'color' : getColor()}">Nombre de Likes : {{ nombreLike }}</div>
  </div>
</div>
